n8n/workflow/Flashcard App.json
{
  "name": "Flashcard App",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f3a1d6fc-89db-4443-81db-268ed41db5ee",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "dfe47fad-cef2-42fe-8f35-3b965d28dee9",
      "name": "Webhook",
      "webhookId": "f3a1d6fc-89db-4443-81db-268ed41db5ee"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sen profesyonel bir dil öğretmenisin. Kullanıcının {{ $json.body.language.name }} dilindeki flashcard oturumunu analiz et.\n\nOturum İstatistikleri:\n\nToplam: {{ $json.body.results.total }}\n\nBilinen: {{ $json.body.results.knownCount }}\n\nBilinmeyen: {{ $json.body.results.unknownCount }}\n\nHata Yapılan Kelimeler: {{ JSON.stringify($json.body.unknownWords) }}\n\nGörevin:\n\nKullanıcıya ilerlemesi hakkında aiFeedback kısmında teknik ve motive edici bir yorum yap.\n\nHata yapılan her kelime için aiMnemonic kısmında akılda kalıcı; basit, orta, zor seviyede 3 tane cümle kur.\n\nKelimenin zorluk seviyesini difficultyLevel (0.1 - 1.0 arası) olarak belirle.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "e0bea16e-7660-4ed6-9aca-643ced1a19e6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "6c304008-f30d-4c5f-9485-2656af5a2caf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ub2H3q044t8QDQV5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"aiFeedback\": \"Genel değerlendirme metni...\",\n  \"wordAnalysis\": [\n    {\n      \"wordKey\": \"hello\",\n      \"aiMnemonic\": \"örnek cümle metni\",\n      \"difficultyLevel\": 0.8\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "e44d8a9d-1615-4cb7-a058-9fa6d4cb7d50",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9fa12cb3-7c9c-4698-ab15-6ec291986599",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9ddc85cca576146c1ec625068fc245a1d5c37a6402b3656ef18c55d7b564879"
  },
  "id": "M6NJdey5HGiaNbou",
  "tags": []
}